img {
	max-width: 100%;
}

header {
	background-color: #62BE1B;
	/*border: 1px solid red;*/
}

div#main-nav{
/*width: 550px;*/
float: right;
margin-top: 18px;
}

div#main-nav a{
color: #FFFFFF;   /*в aptana lightgreen го дава като невалиден цвят според w3.org*/
background-color: #62BE1B;
text-decoration: none;
font-weight: bold;
}

div#main-nav a:hover{
color: #000000;
background-color: #FFFFFF;
text-decoration: none;
font-weight: bold;
}

.nav-tabs {
border-bottom: 0px solid #ddd;
}