img {
    max-width: 100%;
}

.navbar-nav {
	float: right;
	margin: 1% 0 0 0;
}

.navbar-nav collapsed {
	float: left !important;
	margin: 1% 0 0 0;
}

.navbar-header{
    font-size: 2em;
    color: #fff;
}

/*.about-us {
   font-size: 20pt;
}

.about-us .us {
    font-size: 80pt;
    color: #62be1b;
}*/

.about-us p {
}

.navbar-header h1 {
    margin-top: 6.5%;

}
.navbar-header h1 a {
    font-weight:normal !important;
    font-size: 0.6em;
    vertical-align: top;
    text-transform: uppercase;
}
.navbar-header h1 strong {
    font-size: 1em;
}

nav a {
    font-weight:bold;
    color:#fff !important;
}
ul.nav a:hover {
	color:#144d29 !important;

}

.navbar-inverse{
    /*background-color: #62be1b;*/
	background-color: transparent;
    background-image:url('../images/fixed-top.png');
    background-repeat: repeat-x;
    background-position: left bottom;
    border-bottom: #fff;
}

/*добавям разстояние отгоре, за да диша дизайна, това чупи някои неща надолу
според мен менюто е по-добре да е в дясно, а също така като се направи хувър да не стига до горния
край на браузъра, а да се вижда малко от фона на сайта*/


/*div#main-nav a:hover{
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}*/

.nav-tabs > li > a{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2em;
}
/*тук слагам картинката като фон, защото не можах да намеря откъде да огранича размера на ли-тата
по-нататък като го намеря ще го оправя
падинга, който добавям отгоре, измества всичко надолу и съответно ми се скрива картинката при хувър*/

.jumbotron{
    margin-top: 2%;
    background-color: #fff;
	padding-bottom: 0;
	margin-bottom: 0;
}

.jumbotron .container {
    background-image: url('../images/jumbotron-background-better-color.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    margin: 0 auto;
}

.jumbotron a{
    float: left;
}

.jumbotron h1{
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 2%;
    float: left;
    clear: left;
}

.jumbotron p{
    margin-top: 0.3%;
    float: left;
    clear: left;
    width: 32%;
    font-size: 1.2em;
}

.long {
    height: 40%;
}

.right {
    float: right;
}

.important {
    font-weight: bold;
    color: #62be1b;
}

.emphasized {
    font-style: italic;
    color: #62be1b;
}
.big {
    font-weight: bold;
    font-size: 1.7em;
}

.indent {
    text-indent: 4%;
}

.indent::first-letter {
    font-weight: bold;
    font-size: 1.7em;
    color: #62be1b;
}

.btn-primary{
    background-color: #62be1b;
    border: none;
}

.col-md-4 .btn-default{
	background-color: #62be1b;
	border: 1px solid #62be1b;
	color: #fff;
	margin-top: 2%;
}
 
 .dropdown > button{
	color: #FFFFFF;
	background-color:#62BE1B;
	font-weight: bold;
	padding-top: 14px;
 }
 
.btn-primary:hover, .btn-default:hover,
.btn-default:focus, .btn-default:active {
    background-color: #144d29;
    border: 1px solid #62be1b;
  }
.open  > .dropdown-toggle.btn-default {
    background-color: #62be1b;
    border-color: #62be1b;
    color: #FFFFFF;
}

.dropdown-toggle.btn-default:hover{
    color: #144d29;
    background-color: #62be1b; 
    
}

.dropdown-menu {
    background-color: #62be1b; 
}


.container .about .col-md-4 {
    height: 40%;
}

.container .staff .col-md-4 {
    height: 68.5%;
}

.container .apply .col-md-4 {
    height: 69%;
}

/*
.container .science1 .col-md-4 {
    height: 35%;
}

.container .science2 .col-md-4 {
    height: 60%;
}

.container .science3 .col-md-4 {
    height: 25%;
}

.container .science4 .col-md-4 {
    height: 50%;
}
.container .science5 .col-md-4 {
    height: 730px;
}

.container .science6 .col-md-4 {
    height: 360px;
}

.container .science7 .col-md-4 {
    height: 540px;
}

.container .science8 .col-md-4 {
    height: 670px;
}
*/
.container .majors .col-md-4 {
    height: 400px;
}

.col-md-4 h2{
    background: #62be1b;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    padding: 4%;
}

/*
.col-md-4:first-of-type{
    float: right;
}*/

.nav-tabs {
    border-bottom: 0px solid #ddd;
}

.logo{
    margin-top: 7%;
}

.col-md-6{
	margin-top: 7%;
}

a.fancybox img {
	width: 96%;
	margin: 6px;
    border: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
} 

a.fancybox:hover img {
    position: relative;
    z-index: 999;
    -o-transform: scale(1.03,1.03); 
    -ms-transform: scale(1.03,1.03);
    -moz-transform: scale(1.03,1.03);
    -webkit-transform: scale(1.03,1.03);
     transform: scale(1.03,1.03);
}

footer {
  height: 5%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #144d29;
  color: #fff;
  width: 100%;
  text-align: center;
}

.text-muted {
	padding-top: 10px;
	color: #fff;
}

.text-muted  a{
  color: #fff;
  margin-left: 1%;
}
